* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}
.container {
    padding: 3rem;
    text-align: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);

}

.game-title {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .8rem;
}

.game-title-subhead {
    margin-top: .5rem;
    font-size: 1.3rem;
    
}



.image-placeholder {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 2rem 4rem;
    
}

.heads, .tails {
    width: 15rem;
    animation-name: flip;
    animation-duration:.4s;
}

@keyframes flip {
    from{opacity: 0}
    to {opacity: 1}
}
.show {
    display: block;
}

.hide {
    display: none;
}

.btn-flip {
    width: 12rem;
    color: white;
    background-color: rgb(197, 38, 70);
    font-weight: 700;
    border-radius: 3px;
    padding: 1rem;
    border: none;
    cursor: pointer;

}

.btn-flip:hover {
    background-color: rgb(212, 75, 103);

}

.flip-times {
    text-align: center;
    margin-top: 2rem;
    color: #fff;
}
